nav {
    /* background-color: #fefae0; */
    background-color: #3d405b;
    transition: 0.4s; /* Adds a transition effect when the padding is decreased */
    position: fixed;
    overflow: hidden;
    top: 0;
    width: 100%;
    z-index: 100;
    height: 100%;
}

canvas {
    display: block;
}

.nav-wrapper {
    position: relative;
    height: 100%;
    width: 100%;
}

.nav-container {
    height: 100%;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.profile-pic {
    text-align: center;
}

#profile-img {
    height: 300px;
    width: 300px;
    object-fit: cover;
    transition: 0.3s;
    border-radius: 50%;
    margin-bottom: 50px;
    margin-top: 10px;
}

#info-container {
    transition: 0.4s;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 85%;
    margin: 0 auto;
    z-index: 1000;
}

.welcome-text {
    text-align: center;
    font-size: 2em;
    color: #d8e2dc;
    transition: 0.4s;
    animation: textGoUp 2s;
    animation-fill-mode: forwards;
}

.name {
    padding: 5px 10px;
    background-color: #d8e2dc;
    display: inline-block;
    color: #3d405b;
    animation: textGoDown 3s;
    animation-fill-mode: forwards;
}

.nav-btns {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    height: 15%;
    width: 90vw;
    margin: 10px auto;
    z-index: 1000;
}

.nav-btns a {
    font-size: x-large;
    color: #e76f51;
    cursor: pointer;
    padding: 5px 10px;
}

.can-hover .nav-btns a:hover {
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-color: #e76f51;
}

.nav-btns .active {
    background-color: #f9dcc4;
}

#particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
    /* background-color: #fefae0; */
    background-color: #3d405b;
    background-image: url("");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
}

@keyframes textGoUp {
    0% { 
        transform: translate3d(0, 100%, 0); 
        opacity: 0;
    }
    100% { 
        transform: translate3d(0, 0, 0); 
        opacity: 1;
    }
}

@keyframes textGoDown {
    0% { 
        transform: translate3d(0, -100%, 0); 
        opacity: 0;
    }
    100% { 
        transform: translate3d(0, 0, 0); 
        opacity: 1;
    }
}

@media screen and (max-width: 540px) and (min-width: 374px) {
    .nav-btn-1:nth-of-type(2) {
        margin-left: 30%;
    }
}

@media screen and (max-height: 600px) {
    .welcome-text {
        margin-bottom: 0 !important;
    }
}

@media screen and (max-width: 650px) {
    .welcome-text {
        font-size: 20px;
    }

    .nav-btns a {
        font-size: 20px;
    }
}

@media screen and (max-height: 400px) {
    #profile-img {
        height: 125px !important;
        width: 125px !important;
        margin-bottom: 10px !important;
    }

    .welcome-text {
        font-size: 20px !important;
        margin-left: 20px !important;
    }

    #info-container {
        flex-direction: row;
    }
}
