.heading {
  margin-bottom: 10px;
}

.section_subtitle {
  margin-top: 15px;
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
}

.all_card_container {
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  box-sizing: border-box;
  width: 100%;
  height: 75%;
  background-color: #FFEBC6;
}

.all_card_container::-webkit-scrollbar {
  display: none;
}

.card_container {
  font-family: 'Montserrat', sans-serif;
  margin-top: 15px;
}

.scrolling-wrapper-flexbox {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  height: 20%;
  width: 100%;
  padding: 20px;
  -webkit-overflow-scrolling: touch;
  box-sizing: border-box;
  align-items: stretch;
}

.scrolling-wrapper-flexbox::-webkit-scrollbar {
  display: none;
}

.card {
  flex: 0 0 auto;
  margin-right: 25px;
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0, 1);
  background-color: #fff;
  width: 33.3%;
  position: relative;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0px 13px 10px -7px rgba(0, 0, 0, 0.1);
}

.card:hover {
  box-shadow: 0px 30px 18px -8px rgba(0, 0, 0, 0.1);
  transform: scale(1.1, 1.1);
}

.card_info {
  z-index: 2;
  background-color: #fff;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  padding: 16px 24px 24px 24px;
}

.card_category {
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 2px;
  font-weight: 500;
  color: #868686;
}

.card_title {
  margin-top: 5px;
  margin-bottom: 10px;
  font-family: 'Roboto', sans-serif;
}

.card_by {
  font-size: 12px;
  font-family: "Raleway", sans-serif;
  font-weight: 500;
}

.card_author {
  font-weight: 600;
  text-decoration: none;
  color: #ad7d52;
}

.card:hover {
  opacity: 0.3;
}

.card:hover .card_info {
  background-color: transparent;
  position: relative;
}

.card_tech {
  margin-top: 10px;
}

.intro_proj {
  line-height: 1.5em;
  letter-spacing: 1.5px;
}

@media screen and (min-width: 320px) and (max-width: 414px) {
  .all_card_container {
    height: 100%;
  }

  .card {
    width: 40vw;
  }
}

@media screen and (orientation: landscape) and (max-width: 812px) {
  .all_card_container {
    height: 100%;
  }
}
